.Form {
  background-color: #434ccc;
}

.FormContainer {
  width: 1170px;
  height: 656px;
  box-sizing: border-box;
  margin: auto;
  display: flex;
}
.FormContainer h1,
.FormContainer h2,
.FormContainer h3,
.FormContainer p,
.FormContainer ul,
.FormContainer li {
  margin: 0;
  padding: 0;
}

.FormContainer > div {
  width: 50%;
}

.FormContainer > div:nth-child(1) {
  box-sizing: border-box;
  position: relative;
  padding: 96px 15px 96px 0px;
}

.FormContainer > div:nth-child(1) > img:nth-child(1) {
  width: 570px;
  height: 464px;
  opacity: 0.5;
  position: absolute;
}

.FormContainer > div:nth-child(1) > img:nth-child(2) {
  position: absolute;
  z-index: 3;
  top: 282px;
  right: 256px;
}

.FormContainer > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  box-sizing: border-box;
  padding-left: 115px;
}

.FormContainer > div:nth-child(2) > P:nth-child(1) {
  font-family: "DM Sans", sans-serif;
  line-height: 24px;
  letter-spacing: 4.8px;
  text-transform: uppercase;
  color: white;
  margin-top: 95px;
}

.FormContainer > div:nth-child(2) > P:nth-child(2) {
  font-family: "DM Serif Display";
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  color: white;
  margin-top: 21px;
}

.FormContainer > div:nth-child(2) > input::-moz-placeholder {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.FormContainer > div:nth-child(2) > input::placeholder {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.FormContainer > div:nth-child(2) > input:nth-child(3) {
  width: 470px;
  height: 48px;
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid #dadada;
  background: #fff;
  outline: none;
  margin-top: 52px;
}

.FormContainer > div:nth-child(2) > input:nth-child(3)::-moz-placeholder {
  padding-left: 16px;
}

.FormContainer > div:nth-child(2) > input:nth-child(3)::placeholder {
  padding-left: 16px;
}

.FormContainer > div:nth-child(2) > input:nth-child(4) {
  width: 470px;
  height: 96px;
  border-radius: 5px;
  border: 1px solid #dadada;
  box-sizing: border-box;
  background: #fff;
  outline: none;
  margin-top: 32px;
}

.FormContainer > div:nth-child(2) > input:nth-child(4)::-moz-placeholder {
  padding: 13px 389px 59px 16px;
}

.FormContainer > div:nth-child(2) > input:nth-child(4)::placeholder {
  padding: 13px 389px 59px 16px;
}

.FormContainer > div:nth-child(2) > button {
  height: 48px;
  width: 170px;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #f1b505;
  border: none;
  font-family: "DM Sans", sans-serif;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  margin-top: 48px;
}

@media all and (max-width: 700px) {
  .FormContainer {
    width: 346px;
    height: 1056px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .FormContainer > div {
    width: 100%;
  }
  .FormContainer > div:nth-child(1) {
    padding-top: 80px;
  }
  .FormContainer > div:nth-child(1) > img:nth-child(1) {
    width: 346px;
    height: 464px;
  }
  .FormContainer > div:nth-child(1) > img:nth-child(2) {
    top: 276px;
    right: 137px;
  }
  .FormContainer > div:nth-child(2) {
    padding-left: 0px;
  }
  .FormContainer > div:nth-child(2) > P:nth-child(1) {
    margin-top: 47px;
  }
  .FormContainer > div:nth-child(2) > P:nth-child(2) {
    font-size: 40px;
    line-height: 48px;
    margin-top: 19px;
  }
  .FormContainer > div:nth-child(2) > input:nth-child(3) {
    width: 346px;
    height: 48px;
    margin-top: 38px;
  }
  .FormContainer > div:nth-child(2) > input:nth-child(4) {
    width: 346px;
  }
  .FormContainer > div:nth-child(2) > button {
    margin-bottom: 64px;
  }
}
#dicta {
  width: 1440px;
  height: 496px;
  background-color: #434ccc;
  box-sizing: border-box;
}

#dictaImage {
  width: 634px;
  height: 951px;
  flex-shrink: 0;
}

/* Styling for FIGMA Header Section */
body {
  margin: 0%;
}

#header {
  margin: 0%;
  padding: 0%;
}
#header .container:nth-child(1) {
  display: flex;
  place-content: center;
  background: #434ccc;
  overflow: hidden;
}
#header .container:nth-child(1) > .box1 {
  padding-top: 1rem;
  max-width: 1170px;
  width: 100%;
  height: 768px;
  position: relative;
}
#header .container:nth-child(1) > .box1 > .navBar {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .container:nth-child(1) > .box1 > .navBar > .logo {
  height: 3rem;
  max-width: 102px;
}
#header .container:nth-child(1) > .box1 > .navBar > .logo > img {
  height: 100%;
  width: 100%;
}
#header .container:nth-child(1) > .box1 > .navBar > .burger {
  display: none;
}
#header .container:nth-child(1) > .box1 > .navBar > .navSpace {
  display: flex;
  align-items: center;
  gap: 40px;
}
#header .container:nth-child(1) > .box1 > .navBar > .navSpace > .navlinks {
  display: flex;
  align-items: center;
  gap: 40px;
}
#header .container:nth-child(1) > .box1 > .navBar > .navSpace > .navlinks > a {
  text-decoration: none;
  color: var(--Text_White, #fff);
  text-align: right;
  /* Text */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
}
#header .container:nth-child(1) > .box1 > .navBar > .navSpace > .signup {
  padding: 13px 56.5px 11px 56.5px;
  color: #fff;
  text-align: center;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: #434ccc;
}
#header .container:nth-child(1) > .box1 > .hero > .heroText > p:nth-child(1) {
  max-width: 126px;
  margin-top: 111px;
  margin-left: 0%;
  color: var(--Text_White, #fff);
  /* H5 */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 4.8px;
  text-transform: uppercase;
}
#header .container:nth-child(1) > .box1 > .hero > .heroText > h1 {
  color: var(--Text_White, #fff);
  /* H1 */
  font-family: "DM Serif Display";
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 80px; /* 111.111% */
  max-width: 515px;
  margin-top: 24px;
}
#header .container:nth-child(1) > .box1 > .hero > .heroText > p:nth-child(3) {
  color: var(--Text_White, #fff);
  /* Text */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  max-width: 370px;
  margin-top: 32px;
}
#header .container:nth-child(1) > .box1 > .hero > .heroText > .explore {
  color: #fff;
  text-align: center;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  border-radius: 5px;
  background: var(--Primary_2, #f1b505);
  border: none;
  padding: 13px 55.5px 11px 55.5px;
  margin-top: 41px;
}
#header .container:nth-child(1) > .box1 > .hero > .heroImage {
  max-width: 1074px;
  width: 100%;
  height: 716px;
  position: absolute;
  top: 48px;
  left: 312px;
}
#header .container:nth-child(2) {
  background-color: #ffdd78;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#header .container:nth-child(2) > .box2 {
  max-width: 1170px;
  width: 100%;
  margin-top: 60px;
}
#header .container:nth-child(2) > .box2 > h1 {
  margin: 0%;
  color: var(--Text_Black, #000);
  text-align: center;
  /* H2 */
  font-family: "DM Serif Display";
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px; /* 114.286% */
}
#header .container:nth-child(2) > .box2 > p {
  color: var(--Text_Black, #000);
  text-align: center;
  /* Text_Big */
  font-family: "DM Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
  max-width: 570px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 29px;
  margin-bottom: 36px;
}
#header .container:nth-child(2) > .box2 > .cardContainer {
  max-width: 1170px;
  width: 100%;
  margin-bottom: 80px;
  display: flex;
  gap: 30px;
  flex: 1;
}
#header .container:nth-child(2) > .box2 > .cardContainer > .card {
  height: 100%;
  width: 100%;
  max-width: 370px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
}
#header .container:nth-child(2) > .box2 > .cardContainer > .card > div:nth-of-type(1) {
  display: flex;
  place-content: center;
}
#header .container:nth-child(2) > .box2 > .cardContainer > .card > h3 {
  color: var(--Text_Black, #000);
  /* H4 */
  font-family: "DM Serif Display";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
  margin-left: 30px;
}
#header .container:nth-child(2) > .box2 > .cardContainer > .card > p:nth-of-type(1) {
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
  /* Text_Gray */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  max-width: 306px;
  margin-left: 32px;
  margin-top: 15px;
}
#header .container:nth-child(2) > .box2 > .cardContainer > .card > div:nth-of-type(2) {
  height: 1px;
  opacity: 0.1011;
  background: #000;
  margin-left: 32px;
}
#header .container:nth-child(2) > .box2 > .cardContainer > .card > p {
  margin-left: 32px;
  margin-top: 18px;
  color: var(--Text_Black, #000);
  display: inline-block;
  /* Text */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
}
#header .container:nth-child(2) > .box2 > .cardContainer > .card > img {
  margin-left: 7px;
}
#header .container:nth-child(2) > .box2 > .cardContainer .card:nth-of-type(1) > div:nth-of-type(1) {
  margin-top: 64px;
}
#header .container:nth-child(2) > .box2 > .cardContainer .card:nth-of-type(1) > h3 {
  margin-top: 54px;
}
#header .container:nth-child(2) > .box2 > .cardContainer .card:nth-of-type(2) > div:nth-of-type(1) {
  margin-top: 73px;
}
#header .container:nth-child(2) > .box2 > .cardContainer .card:nth-of-type(2) > h3 {
  margin-top: 63px;
}
#header .container:nth-child(2) > .box2 > .cardContainer .card:nth-of-type(3) > div:nth-of-type(1) {
  margin-top: 58px;
}
#header .container:nth-child(2) > .box2 > .cardContainer .card:nth-of-type(3) > h3 {
  margin-top: 48px;
}

@media all and (max-width: 376px) {
  #header > .container:nth-child(1) {
    height: 768px;
  }
  #header > .container:nth-child(1) > .box1 {
    max-width: 346px;
  }
  #header > .container:nth-child(1) > .box1 > .navBar > .navSpace {
    display: none;
  }
  #header > .container:nth-child(1) > .box1 > .navBar > .burger {
    display: inline-block;
  }
  #header > .container:nth-child(1) > .box1 > .hero {
    display: flex;
    flex-direction: column;
  }
  #header > .container:nth-child(1) > .box1 > .hero > .heroText > p:nth-of-type(1) {
    margin-top: 31px;
  }
  #header > .container:nth-child(1) > .box1 > .hero > .heroText > h1 {
    max-width: 258px;
    font-size: 56px;
    line-height: 64px; /* 114.286% */
    margin-top: 5px;
    margin-bottom: 0%;
  }
  #header > .container:nth-child(1) > .box1 > .hero > .heroText > p:nth-child(3) {
    max-width: 346px;
    margin-top: 19px;
  }
  #header > .container:nth-child(1) > .box1 > .hero > .heroText > .explore {
    margin-top: 25px;
  }
  #header > .container:nth-child(1) > .box1 > .hero > .heroImage {
    height: 300px;
    width: 800px;
    position: static;
    margin-left: -245px;
    margin-top: -34px;
  }
  #header > .container:nth-child(1) > .box1 > .hero > .heroImage > img {
    height: 100%;
    width: 100%;
  }
  #header > .container:nth-child(2) > .box2 {
    margin-top: 42px;
    max-width: 346px;
  }
  #header > .container:nth-child(2) > .box2 > h1 {
    line-height: 48px; /* 120% */
    font-size: 40px;
  }
  #header > .container:nth-child(2) > .box2 > p {
    max-width: 346px;
    margin-top: 31px;
    margin-bottom: 50px;
  }
  #header > .container:nth-child(2) > .box2 > .cardContainer {
    flex-direction: column;
    gap: 16px;
    max-width: 346px;
  }
}/*# sourceMappingURL=Main.css.map */