#container {
  flex-shrink: 0;
  background-color: #434ccc;
}

#dicta {
  max-width: 1170px;
  height: 496px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  flex-shrink: 0;
  padding: 127px 135px 121px 135px;
}

#dictaImage {
  width: 634px;
  height: 951px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 65px;
}
#dictaImage button {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  background-color: #434ccc;
  border: 1px solid #7b82db;
  border-radius: 5px;
}

.dicta2 {
  position: absolute;
  margin-left: 137px;
}

#dictachild {
  margin-left: 0px;
}
#dictachild h5 {
  width: 153px;
  height: 24px;
  color: var(--Text_White, #fff);
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 4.8px;
  text-transform: uppercase;
  margin-bottom: 0px;
  margin-top: 0px;
  white-space: nowrap;
}
#dictachild h4 {
  width: 670px;
  height: 107px;
  flex-shrink: 0;
  color: var(--Text_White, #fff);
  margin-top: 33px;
  margin-bottom: 0px;
  font-family: "DM Serif Display";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
#dictachild p:nth-of-type(1) {
  width: 125px;
  height: 32px;
  color: var(--Text_White, #fff);
  font-family: "DM Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin-top: 22px;
  margin-bottom: 0px;
}
#dictachild p:nth-of-type(2) {
  width: 53px;
  height: 24px;
  color: var(--text-white-50, rgba(255, 255, 255, 0.5));
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: 6px;
  margin-bottom: 0px;
}

@media all and (max-width: 600px) {
  #dicta {
    padding: 0px;
    padding-top: 50px;
    width: 375px;
    height: 768px;
  }
  #dicta>button {
    margin-left: 10px;
  }
  .dicta2 {
    position: absolute;
    margin-left: 70px;
    margin-top: 0px;
  }
  #dictachild {
    margin-left: 0px;
  }
  #dictachild>h4 {
    width: 287px;
    height: 264px;
    margin-left: 73px;
    margin-right: 15px;
  }
  #dictachild>h5 {
    margin-left: 73px;
    margin-right: 149px;
  }
}
/* Styling for FIGMA Header Section */
body {
  margin: 0%;
}

#header {
  margin: 0%;
  padding: 0%;
}
#header .container:nth-child(1) {
  display: flex;
  place-content: center;
  background: #434ccc;
  overflow: hidden;
}
#header .container:nth-child(1) > .box1 {
  padding-top: 1rem;
  max-width: 1170px;
  width: 100%;
  height: 768px;
  position: relative;
}
#header .container:nth-child(1) > .box1 > .navBar {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .container:nth-child(1) > .box1 > .navBar > .logo {
  height: 3rem;
  max-width: 102px;
}
#header .container:nth-child(1) > .box1 > .navBar > .logo > img {
  height: 100%;
  width: 100%;
}
#header .container:nth-child(1) > .box1 > .navBar > .burger {
  display: none;
}
#header .container:nth-child(1) > .box1 > .navBar > .navSpace {
  display: flex;
  align-items: center;
  gap: 40px;
}
#header .container:nth-child(1) > .box1 > .navBar > .navSpace > .navlinks {
  display: flex;
  align-items: center;
  gap: 40px;
}
#header .container:nth-child(1) > .box1 > .navBar > .navSpace > .navlinks > a {
  text-decoration: none;
  color: var(--Text_White, #fff);
  text-align: right;
  /* Text */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
}
#header .container:nth-child(1) > .box1 > .navBar > .navSpace > .signup {
  padding: 13px 56.5px 11px 56.5px;
  color: #fff;
  text-align: center;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: #434ccc;
}
#header .container:nth-child(1) > .box1 > .hero > .heroText > p:nth-child(1) {
  max-width: 126px;
  margin-top: 111px;
  margin-left: 0%;
  color: var(--Text_White, #fff);
  /* H5 */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 4.8px;
  text-transform: uppercase;
}
#header .container:nth-child(1) > .box1 > .hero > .heroText > h1 {
  color: var(--Text_White, #fff);
  /* H1 */
  font-family: "DM Serif Display";
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 80px; /* 111.111% */
  max-width: 515px;
  margin-top: 24px;
}
#header .container:nth-child(1) > .box1 > .hero > .heroText > p:nth-child(3) {
  color: var(--Text_White, #fff);
  /* Text */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  max-width: 370px;
  margin-top: 32px;
}
#header .container:nth-child(1) > .box1 > .hero > .heroText > .explore {
  color: #fff;
  text-align: center;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  border-radius: 5px;
  background: var(--Primary_2, #f1b505);
  border: none;
  padding: 13px 55.5px 11px 55.5px;
  margin-top: 41px;
}
#header .container:nth-child(1) > .box1 > .hero > .heroImage {
  max-width: 1074px;
  width: 100%;
  height: 716px;
  position: absolute;
  top: 48px;
  left: 312px;
}
#header .container:nth-child(2) {
  background-color: #ffdd78;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#header .container:nth-child(2) > .box2 {
  max-width: 1170px;
  width: 100%;
  margin-top: 60px;
}
#header .container:nth-child(2) > .box2 > h1 {
  margin: 0%;
  color: var(--Text_Black, #000);
  text-align: center;
  /* H2 */
  font-family: "DM Serif Display";
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px; /* 114.286% */
}
#header .container:nth-child(2) > .box2 > p {
  color: var(--Text_Black, #000);
  text-align: center;
  /* Text_Big */
  font-family: "DM Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
  max-width: 570px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 29px;
  margin-bottom: 36px;
}
#header .container:nth-child(2) > .box2 > .cardContainer {
  max-width: 1170px;
  width: 100%;
  margin-bottom: 80px;
  display: flex;
  gap: 30px;
  flex: 1;
}
#header .container:nth-child(2) > .box2 > .cardContainer > .card {
  height: 100%;
  width: 100%;
  max-width: 370px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
}
#header .container:nth-child(2) > .box2 > .cardContainer > .card > div:nth-of-type(1) {
  display: flex;
  place-content: center;
}
#header .container:nth-child(2) > .box2 > .cardContainer > .card > h3 {
  color: var(--Text_Black, #000);
  /* H4 */
  font-family: "DM Serif Display";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
  margin-left: 30px;
}
#header .container:nth-child(2) > .box2 > .cardContainer > .card > p:nth-of-type(1) {
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
  /* Text_Gray */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  max-width: 306px;
  margin-left: 32px;
  margin-top: 15px;
}
#header .container:nth-child(2) > .box2 > .cardContainer > .card > div:nth-of-type(2) {
  height: 1px;
  opacity: 0.1011;
  background: #000;
  margin-left: 32px;
}
#header .container:nth-child(2) > .box2 > .cardContainer > .card > p {
  margin-left: 32px;
  margin-top: 18px;
  color: var(--Text_Black, #000);
  display: inline-block;
  /* Text */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
}
#header .container:nth-child(2) > .box2 > .cardContainer > .card > img {
  margin-left: 7px;
}
#header .container:nth-child(2) > .box2 > .cardContainer .card:nth-of-type(1) > div:nth-of-type(1) {
  margin-top: 64px;
}
#header .container:nth-child(2) > .box2 > .cardContainer .card:nth-of-type(1) > h3 {
  margin-top: 54px;
}
#header .container:nth-child(2) > .box2 > .cardContainer .card:nth-of-type(2) > div:nth-of-type(1) {
  margin-top: 73px;
}
#header .container:nth-child(2) > .box2 > .cardContainer .card:nth-of-type(2) > h3 {
  margin-top: 63px;
}
#header .container:nth-child(2) > .box2 > .cardContainer .card:nth-of-type(3) > div:nth-of-type(1) {
  margin-top: 58px;
}
#header .container:nth-child(2) > .box2 > .cardContainer .card:nth-of-type(3) > h3 {
  margin-top: 48px;
}

@media all and (max-width: 600px) {
  #header > .container:nth-child(1) {
    height: 768px;
  }
  #header > .container:nth-child(1) > .box1 {
    max-width: 346px;
  }
  #header > .container:nth-child(1) > .box1 > .navBar > .navSpace {
    display: none;
  }
  #header > .container:nth-child(1) > .box1 > .navBar > .burger {
    display: inline-block;
  }
  #header > .container:nth-child(1) > .box1 > .hero {
    display: flex;
    flex-direction: column;
  }
  #header > .container:nth-child(1) > .box1 > .hero > .heroText > p:nth-of-type(1) {
    margin-top: 31px;
  }
  #header > .container:nth-child(1) > .box1 > .hero > .heroText > h1 {
    max-width: 258px;
    font-size: 56px;
    line-height: 64px; /* 114.286% */
    margin-top: 5px;
    margin-bottom: 0%;
  }
  #header > .container:nth-child(1) > .box1 > .hero > .heroText > p:nth-child(3) {
    max-width: 346px;
    margin-top: 19px;
  }
  #header > .container:nth-child(1) > .box1 > .hero > .heroText > .explore {
    margin-top: 25px;
  }
  #header > .container:nth-child(1) > .box1 > .hero > .heroImage {
    height: 300px;
    width: 800px;
    position: static;
    margin-left: -245px;
    margin-top: -34px;
  }
  #header > .container:nth-child(1) > .box1 > .hero > .heroImage > img {
    height: 100%;
    width: 100%;
  }
  #header > .container:nth-child(2) > .box2 {
    margin-top: 42px;
    max-width: 346px;
  }
  #header > .container:nth-child(2) > .box2 > h1 {
    line-height: 48px; /* 120% */
    font-size: 40px;
  }
  #header > .container:nth-child(2) > .box2 > p {
    max-width: 346px;
    margin-top: 31px;
    margin-bottom: 50px;
  }
  #header > .container:nth-child(2) > .box2 > .cardContainer {
    flex-direction: column;
    gap: 16px;
    max-width: 346px;
  }
}
.Form h1,
.Form h2,
.Form h3,
.Form h4,
.Form p, .footer h1,
.footer h2,
.footer h3,
.footer h4,
.footer p {
  margin: 0;
  padding: 0;
}

.Form {
  background-color: #434ccc;
  margin-top: 0.5px;
}

.FormContainer {
  width: 1170px;
  height: 656px;
  box-sizing: border-box;
  margin: auto;
  display: flex;
}

.FormContainer > div {
  width: 50%;
}

.FormContainer > div:nth-child(1) {
  box-sizing: border-box;
  position: relative;
  padding: 96px 15px 96px 0px;
}

.FormContainer > div:nth-child(1) > img:nth-child(1) {
  width: 570px;
  height: 464px;
  opacity: 0.5;
  position: absolute;
}

.FormContainer > div:nth-child(1) > img:nth-child(2) {
  position: absolute;
  z-index: 3;
  top: 282px;
  right: 256px;
}

.FormContainer > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  box-sizing: border-box;
  padding-left: 115px;
}

.FormContainer > div:nth-child(2) > P:nth-child(1) {
  font-family: "DM Sans", sans-serif;
  line-height: 24px;
  letter-spacing: 4.8px;
  text-transform: uppercase;
  color: white;
  margin-top: 95px;
}

.FormContainer > div:nth-child(2) > P:nth-child(2) {
  font-family: "DM Serif Display";
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  color: white;
  margin-top: 21px;
}

.FormContainer > div:nth-child(2) > input::-moz-placeholder {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.FormContainer > div:nth-child(2) > input::placeholder {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.FormContainer > div:nth-child(2) > input:nth-child(3) {
  width: 470px;
  height: 48px;
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid #DADADA;
  background: #FFF;
  outline: none;
  margin-top: 52px;
}

.FormContainer > div:nth-child(2) > input:nth-child(3)::-moz-placeholder {
  padding-left: 16px;
}

.FormContainer > div:nth-child(2) > input:nth-child(3)::placeholder {
  padding-left: 16px;
}

.FormContainer > div:nth-child(2) > input:nth-child(4) {
  width: 470px;
  height: 96px;
  border-radius: 5px;
  border: 1px solid #DADADA;
  box-sizing: border-box;
  background: #FFF;
  outline: none;
  margin-top: 32px;
}

.FormContainer > div:nth-child(2) > input:nth-child(4)::-moz-placeholder {
  padding: 13px 389px 59px 16px;
}

.FormContainer > div:nth-child(2) > input:nth-child(4)::placeholder {
  padding: 13px 389px 59px 16px;
}

.FormContainer > div:nth-child(2) > button {
  height: 48px;
  width: 170px;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #F1B505;
  border: none;
  font-family: "DM Sans", sans-serif;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  margin-top: 48px;
}

.graece {
  width: 1440px;
  height: 1328px;
  flex-shrink: 0;
}
.graece .container {
  margin-right: 135px;
  margin-left: 135px;
}
.graece .container .top {
  display: grid;
}
.graece .container .top h5 {
  color: var(--Text_Black, #000);
  text-align: center;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 4.8px;
  text-transform: uppercase;
  margin-top: 63px;
  margin-bottom: 0%;
  width: 88px;
  height: 24px;
  margin-left: 541px;
}
.graece .container .top h2 {
  color: var(--Text_Black, #000);
  text-align: center;
  font-family: "DM Serif Display";
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 114.286%;
  margin-top: 21px;
  margin-bottom: 0;
  width: 351px;
  height: 64px;
  margin-left: 410px;
}
.graece .container .top p {
  color: var(--Text_Black, #000);
  text-align: center;
  font-family: "DM Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin-top: 29px;
  width: 570px;
  height: 83px;
  margin-left: 300px;
  margin-bottom: 0;
}
.graece .container .mid {
  display: flex;
  margin-top: 13px;
}
.graece .container .mid img {
  width: 684px;
  height: 456px;
  flex-shrink: 0;
}
.graece .container .mid .tx-1 {
  margin-top: 97px;
  margin-left: -84px;
}
.graece .container .mid .tx-1 h3 {
  color: var(--Text_Black, #000);
  font-family: "DM Serif Display";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
  width: 323px;
  height: 96px;
  margin-top: 0;
}
.graece .container .mid .tx-1 p {
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  width: 470px;
  height: 75px;
  margin-top: 37px;
}
.graece .container .mid .tx-1 a {
  color: var(--Text_Black, #000);
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  width: 88px;
  height: 24px;
  margin-top: 37px;
}
.graece .container .bottom {
  display: flex;
}
.graece .container .bottom .tx-2 {
  margin-left: 100px;
}
.graece .container .bottom .tx-2 h3 {
  color: var(--Text_Black, #000);
  font-family: "DM Serif Display";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
  margin-top: 121px;
  margin-right: -6px;
  margin-bottom: 0;
}
.graece .container .bottom .tx-2 p {
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  width: 470px;
  height: 75px;
  flex-shrink: 0;
  margin-top: 37px;
  margin-right: -84px;
  margin-bottom: 37px;
}
.graece .container .bottom .tx-2 a {
  color: var(--Text_Black, #000);
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  text-decoration: none;
  width: 88px;
  height: 24px;
}
.graece .container .bottom img {
  width: 684px;
  height: 456px;
  flex-shrink: 0;
}

.sidali {
  width: 1440px;
  height: 1600px;
  flex-shrink: 0;
}
.sidali .container {
  margin-left: 135px;
  margin-right: 135px;
}
.sidali .container .b1 {
  display: grid;
  margin-top: 63px;
}
.sidali .container .b1 h5 {
  color: var(--Text_Black, #000);
  text-align: center;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 4.8px;
  text-transform: uppercase;
  width: 140px;
  height: 24px;
  margin: 0%;
  margin-left: 515px;
}
.sidali .container .b1 h2 {
  color: var(--Text_Black, #000);
  text-align: center;
  font-family: "DM Serif Display";
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  width: 321px;
  height: 64px;
  margin: 0%;
  margin-top: 21px;
  margin-left: 425px;
}
.sidali .container .b1 p {
  color: var(--Text_Black, #000);
  text-align: center;
  font-family: "DM Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
  width: 570px;
  height: 83px;
  flex-shrink: 0;
  margin: 0%;
  margin-top: 29px;
  margin-left: 300px;
}
.sidali .container .b2 {
  margin: 0%;
  margin-top: 36px;
  display: flex;
}
.sidali .container .b2 .card1 {
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
  margin: 0%;
  height: 480px;
  flex-shrink: 0;
  padding: 23px 30px 21px 25px;
}
.sidali .container .b2 .card1 img {
  border-radius: 50%;
}
.sidali .container .b2 .card1 div h4 {
  color: var(--Text_Black, #000);
  /* H4 */
  font-family: "DM Serif Display";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
  width: 171px;
  height: 32px;
}
.sidali .container .b2 .card1 div hr {
  margin: 0%;
  margin-top: 24px;
  margin-bottom: 18px;
}
.sidali .container .b2 .card1 div .social {
  display: flex;
  justify-content: space-between;
  margin: 0%;
  padding: 0%;
}
.sidali .container .b2 .card1 div .social p {
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
  /* Text_Gray */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.sidali .container .b2 .card1 div .social img {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
}
.sidali .container .b2 .card2,
.sidali .container .b2 .card3 {
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
  margin: 0%;
  height: 480px;
  flex-shrink: 0;
  margin-left: 30px;
  padding: 23px 30px 21px 25px;
}
.sidali .container .b2 .card2 div h4,
.sidali .container .b2 .card3 div h4 {
  color: var(--Text_Black, #000);
  /* H4 */
  font-family: "DM Serif Display";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
  width: 171px;
  height: 32px;
}
.sidali .container .b2 .card2 div hr,
.sidali .container .b2 .card3 div hr {
  margin: 0%;
  margin-top: 24px;
  margin-bottom: 18px;
}
.sidali .container .b2 .card2 div .social,
.sidali .container .b2 .card3 div .social {
  display: flex;
  justify-content: space-between;
  margin: 0%;
  padding: 0%;
}
.sidali .container .b2 .card2 div .social p,
.sidali .container .b2 .card3 div .social p {
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
  /* Text_Gray */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.sidali .container .b2 .card2 div .social img,
.sidali .container .b2 .card3 div .social img {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
}
.sidali .container .b2 .card2 img,
.sidali .container .b2 .card3 img {
  border-radius: 50%;
}
.sidali .container .b3 {
  margin: 0%;
  margin-top: 95px;
}
.sidali .container .b3 h5 {
  color: var(--Text_Black, #000);
  text-align: center;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 4.8px;
  text-transform: uppercase;
  margin: 0%;
  margin-left: 536px;
  width: 105px;
  height: 24px;
}
.sidali .container .b3 h2 {
  color: var(--Text_Black, #000);
  text-align: center;
  font-family: "DM Serif Display";
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  margin: 0%;
  margin-top: 21px;
  margin-left: 368px;
  width: 435px;
  height: 64px;
}
.sidali .container .b3 p {
  color: var(--Text_Black, #000);
  text-align: center;
  /* Text_Big */
  font-family: "DM Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
  width: 570px;
  height: 83px;
  flex-shrink: 0;
  margin: 0%;
  margin-top: 29px;
  margin-left: 300px;
}
.sidali .container .b4 {
  margin: 0%;
  padding: 0%;
  margin-top: 52px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 32px;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.sidali .container .b4 .bx1,
.sidali .container .b4 .bx2,
.sidali .container .b4 .bx3,
.sidali .container .b4 .bx4,
.sidali .container .b4 .bx5,
.sidali .container .b4 .bx6 {
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
  flex-shrink: 0;
  display: flex;
  padding: 24px 32px 16px 32px;
}
.sidali .container .b4 .bx1 img,
.sidali .container .b4 .bx2 img,
.sidali .container .b4 .bx3 img,
.sidali .container .b4 .bx4 img,
.sidali .container .b4 .bx5 img,
.sidali .container .b4 .bx6 img {
  width: 43px;
  height: 49px;
  margin: 8px 0px 59px 8px;
}
.sidali .container .b4 .bx1 div,
.sidali .container .b4 .bx2 div,
.sidali .container .b4 .bx3 div,
.sidali .container .b4 .bx4 div,
.sidali .container .b4 .bx5 div,
.sidali .container .b4 .bx6 div {
  margin-left: 25px;
}
.sidali .container .b4 .bx1 div h4,
.sidali .container .b4 .bx2 div h4,
.sidali .container .b4 .bx3 div h4,
.sidali .container .b4 .bx4 div h4,
.sidali .container .b4 .bx5 div h4,
.sidali .container .b4 .bx6 div h4 {
  color: var(--Text_Black, #000);
  /* H4 */
  font-family: "DM Serif Display";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
  margin: 0;
  width: 120px;
  height: 32px;
}
.sidali .container .b4 .bx1 div p,
.sidali .container .b4 .bx2 div p,
.sidali .container .b4 .bx3 div p,
.sidali .container .b4 .bx4 div p,
.sidali .container .b4 .bx5 div p,
.sidali .container .b4 .bx6 div p {
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
  /* Text_Gray */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  width: 238px;
  height: 65px;
  margin: 0;
  margin-top: 7px;
}

@media all and (max-width: 600px) {
  .sidali {
    width: 375px;
    height: 3088px;
    flex-shrink: 0;
  }
  .sidali .container {
    margin-left: 14px;
    margin-right: 15px;
  }
  .sidali .container .b1 {
    display: grid;
    margin-top: 47px;
  }
  .sidali .container .b1 h5 {
    margin: 0%;
    margin-left: 103px;
  }
  .sidali .container .b1 h2 {
    font-size: 40px;
    line-height: 48px;
    width: 230px;
    height: 48px;
    margin: 0%;
    margin-top: 19px;
    margin-left: 59px;
  }
  .sidali .container .b1 p {
    width: 346px;
    height: 98px;
    margin: 0%;
    margin-top: 31px;
    margin-left: 0px;
  }
  .sidali .container .b2 {
    margin: 0%;
    margin-top: 53px;
    display: grid;
  }
  .sidali .container .b2 .card1 {
    width: 346px;
    height: 448px;
  }
  .sidali .container .b2 .card1 div hr {
    width: 314px;
    height: 1px;
  }
  .sidali .container .b2 .card2,
  .sidali .container .b2 .card3 {
    width: 346px;
    height: 448px;
    margin-top: 16px;
    margin-left: 0px;
  }
  .sidali .container .b3 h5 {
    margin-left: 124px;
  }
  .sidali .container .b3 h2 {
    font-size: 40px;
    line-height: 48px;
    margin-left: 18px;
    width: 311px;
    height: 48px;
  }
  .sidali .container .b3 p {
    width: 346px;
    height: 99px;
    margin-top: 31px;
    margin-left: 0px;
  }
  .sidali .container .b4 {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 0px;
    -moz-column-gap: 16px;
         column-gap: 16px;
    margin-bottom: 80px;
  }
  .sidali .container .b4 .bx2,
  .sidali .container .b4 .bx3,
  .sidali .container .b4 .bx4,
  .sidali .container .b4 .bx5,
  .sidali .container .b4 .bx6 {
    margin-top: 16px;
  }
}
@media all and (max-width: 600px) {
  .graece {
    width: 375px;
    height: 1536px;
    flex-shrink: 0;
  }
  .graece .container {
    margin-right: 14px;
    margin-left: 14px;
  }
  .graece .container .top {
    display: grid;
  }
  .graece .container .top h5 {
    margin-left: 130px;
  }
  .graece .container .top h2 {
    font-size: 40px;
    line-height: 48px;
    margin-top: 21px;
    width: 251px;
    height: 48px;
    margin-left: 48px;
  }
  .graece .container .top p {
    width: 346px;
    height: 135px;
    margin-top: 31px;
    margin-left: 1px;
  }
  .graece .container .mid {
    display: grid;
    margin-top: 0px;
  }
  .graece .container .mid img {
    margin-left: -124px;
    width: 594px;
    height: 396px;
  }
  .graece .container .mid .tx-1 {
    margin-top: 16px;
    margin-left: 0px;
  }
  .graece .container .mid .tx-1 h3 {
    font-size: 24px;
    line-height: 32px;
    width: 194px;
    height: 64px;
    margin-top: 0;
    margin-left: 0;
  }
  .graece .container .mid .tx-1 p {
    width: 346px;
    height: 94px;
    margin-top: 23px;
  }
  .graece .container .mid .tx-1 a {
    margin-top: 18px;
  }
  .graece .container .bottom {
    display: flex;
    flex-direction: column-reverse;
  }
  .graece .container .bottom img {
    width: 517px;
    height: 345px;
    margin-left: -89px;
  }
  .graece .container .bottom .tx-2 {
    display: grid;
    margin-top: -5px;
    margin-left: 0px;
  }
  .graece .container .bottom .tx-2 h3 {
    font-size: 24px;
    line-height: 32px;
    width: 194px;
    width: 236px;
    height: 64px;
    margin-top: 0px;
    margin-right: 110px;
  }
  .graece .container .bottom .tx-2 p {
    margin-top: 23px;
    margin-right: 0px;
    margin-bottom: 8px;
    width: 346px;
    height: 104px;
  }
}
@media all and (max-width: 600px) {
  .FormContainer {
    width: 346px;
    height: 1056px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .FormContainer > div {
    width: 100%;
  }
  .FormContainer > div:nth-child(1) {
    padding-top: 80px;
  }
  .FormContainer > div:nth-child(1) > img:nth-child(1) {
    width: 346px;
    height: 464px;
  }
  .FormContainer > div:nth-child(1) > img:nth-child(2) {
    top: 276px;
    right: 137px;
  }
  .FormContainer > div:nth-child(2) {
    padding-left: 0px;
  }
  .FormContainer > div:nth-child(2) > P:nth-child(1) {
    margin-top: 47px;
  }
  .FormContainer > div:nth-child(2) > P:nth-child(2) {
    font-size: 40px;
    line-height: 48px;
    margin-top: 19px;
  }
  .FormContainer > div:nth-child(2) > input:nth-child(3) {
    width: 346px;
    height: 48px;
    margin-top: 38px;
  }
  .FormContainer > div:nth-child(2) > input:nth-child(4) {
    width: 346px;
  }
  .FormContainer > div:nth-child(2) > button {
    margin-bottom: 64px;
  }
}
.footerContainer {
  margin: auto;
  width: 1170px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 400px 200px 200px 370px;
  padding-top: 72px;
  padding-bottom: 55px;
}

.footerContainer > div:nth-child(1) {
  font-weight: 400;
  box-sizing: border-box;
}
.footerContainer > div:nth-child(1) > h4 {
  font-family: "DM Serif Display";
  font-size: 24px;
  font-style: normal;
  line-height: 32px;
}
.footerContainer > div:nth-child(1) > p {
  width: 270px;
  height: 79px;
  font-family: "DM Sans";
  font-style: normal;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 23px;
}
.footerContainer > div:nth-child(1) > div {
  margin-top: 16px;
  display: flex;
  gap: 13px;
}

.footerContainer > div:nth-child(2), .footerContainer > div:nth-child(3) {
  box-sizing: border-box;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  font-size: 16px;
}
.footerContainer > div:nth-child(2) > h3, .footerContainer > div:nth-child(3) > h3 {
  padding-top: 7px;
  font-size: 16px;
  margin-bottom: 24px;
}
.footerContainer > div:nth-child(2) > p, .footerContainer > div:nth-child(3) > p {
  margin-bottom: 8px;
  color: rgba(0, 0, 0, 0.5);
}

.footerContainer > div:nth-child(4) > div {
  display: flex;
  align-items: start;
  gap: 30px;
}
.footerContainer > div:nth-child(4) > div > div:nth-of-type(1) > p:nth-of-type(1) {
  color: rgba(0, 0, 0, 0.5);
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.footerContainer > div:nth-child(4) > div > div:nth-of-type(1) > p:nth-of-type(2) {
  font-family: "DM Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 39px;
}

.bottomborder {
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}

.copyrightBox {
  margin: auto;
  width: 1170px;
  display: flex;
  justify-content: space-between;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.5);
  padding-top: 27px;
  padding-bottom: 29px;
  box-sizing: border-box;
}

@media all and (max-width: 600px) {
  .footerContainer {
    margin: auto;
    width: 346px;
    padding-bottom: 0px;
    grid-template-columns: 173px 173px;
  }
  .footerContainer > div:nth-child(1) {
    grid-area: 1/1/2/3;
  }
  .footerContainer > div:nth-child(1) > p {
    width: 346px;
  }
  .footerContainer > div:nth-child(1) > div {
    margin-top: 0px;
  }
  .footerContainer > div:nth-child(2) {
    grid-area: 2/1/3/2;
    width: 173px;
  }
  .footerContainer > div:nth-child(2) > h3 {
    padding-top: 80px;
  }
  .footerContainer > div:nth-child(3) {
    width: 173px;
    grid-area: 2/2/3/3;
  }
  .footerContainer > div:nth-child(3) > h3 {
    padding-top: 80px;
  }
  .footerContainer > div:nth-child(4) {
    width: 346px;
    grid-area: 3/1/4/3;
    margin-top: 72px;
  }
  .footerContainer > div:nth-child(4) > div:nth-of-type(1) > p:nth-of-type(2) {
    margin-bottom: 55px;
  }
  .copyrightBox {
    width: 346px;
    flex-direction: column;
    justify-content: start;
  }
}/*# sourceMappingURL=Main.css.map */